<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documentacion de la API</title>
  <link rel="stylesheet" href="estilos.css">
</head>

<body>
  <div>
    <h1>documentacion de la API</h1>
  </div>
  <div>
    <table>
      <tr>
        <td>numero</td>
        <td>L1</td>
      </tr>
      <tr>
        <td>Nombre del enpont</td>
        <td>Registrar nuevo usuario</td>
      </tr>
      <tr>
        <td>URL</td>
        <td>http:localhost:3000/api/user/registrar</td>
      </tr>
      <tr>
        <td>Descripcion</td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident error aut distinctio accusamus harum
          similique rem sit laboriosam nesciunt amet reiciendis reprehenderit, laborum alias, eligendi temporibus vel
          blanditiis magni soluta.</td>
      </tr>
      <tr>
        <td>vrbo http</td>
        <td>POST</td>
      </tr>
      <tr>
        <td>header</td>
        <td>null</td>
      </tr>
      <tr>
        <td>usuario</td>
        <td>Administrador</td>
      </tr>
      <tr>
        <td>peticion body</td>
        <td>json :{ <br>
          "usuario" : "emersson" <br>
          }
        </td>
      </tr>
      <tr>
        <td>Respuesta json{}

        </td>
        <td>
          correcto :{} <br>
          incorrecto: {} <br>
          error : {} <br>
        </td>
      </tr>

    </table>

  </div>
</body>

</html>